@import "tailwindcss";

:root {
  --background: #ffffff; /* white background */
  --foreground: #000000; /* black text */
  --font-family-base: var(--font-poppins);
}
.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.containers {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .containers {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .containers {
    width: 80%;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
