@import "tailwindcss";

:root {
  --background: #ffffff; /* white background */
  --foreground: #000000; /* black text */
  --font-family-base: var(--font-poppins);
}
.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.containers {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .containers {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .containers {
    width: 80%;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-slower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  } /* opposite direction */
}
/* @keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}
.animate-spin-slower {
  animation: spin-slower 10s linear infinite;
}
/* .animate-spin-reverse {
  animation: spin-reverse 10s linear infinite;
} */

